# --- FLUTTER (MOBILE) ---
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.pub-cache/
mobile/.pub/
mobile/android/.gradle/
mobile/android/app/build/
mobile/ios/.symlinks/
mobile/ios/Pods/

# --- NODE.JS (SERVER) ---
server/node_modules/
server/npm-debug.log
server/.env

# --- GERAL ---
.DS_Store
.vscode/
.idea/
*.iml